/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Game layout */

.container {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(2, 1, 0, 0.8);
    display: block;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 10px 2px;
    height: 630px;
}

#question-area {
    padding: 0 10px;
    max-width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Flag */
#question-area img {
    width: 100%;
    height: 125px;
}

.answer-area {
    padding: 10px;
    color: white;
    text-align: center;
}

.score-area {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 25px;
}

/* All buttons */
button {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

/* Start, Next buttons */
.controls {
    text-align: center;
    margin: 20px;
}

.hide {
    display: none;
}

#start-btn {
    margin-top: 160px;
}

/* Main content */
.heading {
    padding: 20px 10%;
    text-align: center;
    font-family: 'Bangers', sans-serif;
    font-size: 38px;
    letter-spacing: 2px;
    color: white;
}

body {
    background: url("../images/A_large_blank_world_map_with_oceans_marked_in_blue.png") no-repeat center center/cover;
    font-family: 'Noto Sans', sans-serif;
    height: 650px;
}

h2 {
    padding-bottom: 20px;
    font-size: 22px;
}